         <nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container">
    <a class="navbar-brand" href="{{ path('home') }}"><img class="logo" src="https://i.postimg.cc/ZqFMJt76/LOGO-CATISSE1-COUD-SECONDAIRE.jpg" alt='logocatisse'></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

   {% if app.user %}

            {% if app.user.roles[0] is same as "ROLE_ADMIN" %}

         <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('admin_home') }}">Administration</a>
              </li>
             {% endif %}

   {% else %}

      {% endif %}


    <li class="nav-item">
        <a href="{{ path('customer_category_index') }}" class="nav-link">
          <span class="link-text">Catégories</span>
        </a>
      </li>
      
        {% for post in postRepository.findAll() %}
      <li class="nav-item">
        <a href="{{ path('blog_post_show',{'id': post.id }) }}" class="nav-link">
          <span class="link-text">Qui suis-je ?</span>
        </a>
      </li>
      
       {% endfor %}

      

    </ul>
  </nav>
