{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
   <div class="container py-5">

    <div class="row">

    {% include "_messages_flash.html.twig" %}

        <div class="col-12 d-flex align-items-center justify-content-between">
            <h3>Liste des catégories</h3>
        </div>

        <hr>

        {% for category in categories %}

            <div class="col-sm-12 col-md-6 col-lg-4">

               <div class="card bg-dark text-white">
                    <img src="{{ category.imagePath }}" class="card-img" alt="image_category">
                        <div class="card-img-overlay">
                        <h5 class="card-title">{{ category.name }}</h5>
                        <a href="{{ path('boutique_category_show',{ 'id' : category.id } ) }}" class="btn btn-outline-light">Voir la catégorie </a>
                    </div>
                </div>
        
            </div>
            
        {% endfor %}

        <hr> 
        
    


    </div>

  </div>
{% endblock %}


