{% extends 'admin/base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
  <div class="container py-5">

    <div class="row">

    {% include "_messages_flash.html.twig" %}

    </div>

  </div>
{% endblock %}


